* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --background: #333;
  --text: #fff;
  --highlight: #39ac4c;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: 1s var(--background) ease;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-switch {
  width: 70px;
  height: 30px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;
}
.switch {
  background: white;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 1s all ease;
}

.light-theme {
  --background: #fff;
  --text: #000;
  background: var(--background);

  .theme-switch {
    background: var(--text);

    .switch {
      transform: translateX(37px);
    }
  }
  a {
    color: var(--text);
  }
}

nav {
  position: relative;
  margin: 50px auto 0;
  width: 590px;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  z-index: 1;
  text-align: center;
}
nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: var(--highlight);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
nav a:nth-child(1) {
  width: 100px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 110px;
}
nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 100px;
}
nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}
nav a:nth-child(4) {
  width: 160px;
}
nav a:nth-child(4):hover ~ .animation {
  width: 160px;
  left: 310px;
}
nav a:nth-child(5) {
  width: 120px;
}
nav a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 470px;
}
